<h3>Component directives</h3>

<h4>NgStyle</h4>
<p [ngStyle]="{ 'color': couleurDuText}">
  Mon super texte!
</p>

<p [ngStyle]="stylesObj">
  Mon super texte2!
</p>

<h4>NgClass</h4>

<p class="maSuperClass"
   [ngClass]="{'error':afficherEnErreur}"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, in sint ut iste iure culpa vitae architecto? Quo
  necessitatibus tenetur dolorem provident esse officia iusto, facilis autem aspernatur, quidem repellat.
</p>
<button (click)="onAfficherEnErreurClick()">Afficher en erreur</button>
